#diamond_container {
  margin: auto;
  display: flex;
  flex-direction: column;
  position:relative;
  width: 90%;
  min-height: 40em;
  max-width: 90em;
}
#diamond_content {
  text-align: right;
  max-width: 26em;
  min-width: 17em;
  height: 100%;
}
#diamond_legend {
  text-align: left;
  margin-left: 2em;
  margin-bottom: 1em;
}
#legend_dao {
  margin: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
}
#dao_square {
  height: 3em;
  width: 3em;
  display:flex;
  align-items: center;
  justify-content: center;
}
#square_shape {
  margin: auto;
  background: #222;
  height: 2em;
  text-align: center;
  transform:rotate(45deg);
  width:2em;
}
.legend_key {
  height: 3em;
  display:flex;
  margin-left: .25em;
}
.legend_key p {
  margin: auto;
}
#legend_facet {
  margin: 1em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#facet_triangle {
  height: 3em;
  width: 3em;
  display:flex;
  align-items: center;
  justify-content: center;
}
#triangle_shape {
  margin: auto;
  margin-bottom: .6em;
  margin-right: .1em;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 2em solid #fff;
  transform:rotate(20deg);
}
/* Animation Container */
@media screen and (min-width: 600px) {
  #diamond_animation {
    display: block;
    margin: auto;
    min-width: 30em;
    max-width: 60em;
  }
  #diamond_image {
    display: none;
  }
  /* Working with Diamonds text */
  #diamond_content {
    position: absolute;
    right: 0;
  }
  /* Legend */
  #diamond_legend {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  #diamond_animation {
    display: none;
  }
  #diamond_image {
    margin: auto;
    width: 100%;
    max-height: 50em;
    min-height: 20em;
    display: block;
    flex: 1 1 1;
  }
  .diamond_img {
    width: 100%;
    max-width: 25em;
    margin: auto;
    height: 100%;
    display: block;
  }
  /* Working with Diamonds text */
  #diamond_content {
    position: relative;
    margin: auto;
  }
  /* Legend */
  #diamond_legend {
    position: relative;
    margin-top: -6em;
    font-size: small;
  }
}
@media screen and (max-width: 370px) {
  /* Legend */
  #diamond_legend {
    position: relative;
    margin-top: -5em;
    font-size: x-small;
  }
}