/* Info Section */
#info_wrapper {
  display:block;
  position: relative;
  width:90%;
  margin: auto;
  z-index: 1;
}
/* Featured Tech */
#info_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.info_feature {
  margin: 2em;
  min-width: 11em;
  max-width: 25em;
  min-height:10em;
  flex: 1 1 0;
}
.info_img {
  margin-bottom: 1em;
  display: block;
  max-width: 6em;
  min-width: 5em; 
}
#info_title {
  padding: .5em;
  text-align: center;
}
/* Social Buttons */
#buttons {
  padding: 2em;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}
.button {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:nowrap;
  border-radius: .5em;
  cursor: pointer;
  border: none;
  flex: 1 1 0;
  max-width: 12em;
  min-width: 7em;
  height: 3em;
  margin: auto;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: 1em;
  filter: drop-shadow(0px 3.57004px 3.57004px rgba(0, 0, 0, 0.25));
}
.button:hover {
  opacity: 0.6;
}
#button_twitter {
  background: #A3DDE9;
  color: #000000;
}
#button_discord {
  background: #635BFF;
  color: #FFFFFF;
}
#button_github {
  background: #222222;
  color: #FFFFFF;
}
#button_blog {
  background: #F5CC66;
  color: #000000;
}
#button_docs {
  background: #FFFFFF;
  color: #000000;
}