/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* @dev manages the height of each section, which allows the svg shapes and background animation to scale properly */

@media screen and (max-width: 370px) {
  .landing {
    --height_about: 60em;
    --height_token: 70em;
    --height_diamond: 47em;
    --height_roadmap: 40em;
    --height_info: 120em;
  }
}
@media screen and (min-width: 370px) {
  .landing {
    --height_about: 55em;
    --height_token: 66em;
    --height_diamond: 52em;
    --height_roadmap: 40em;
    --height_info: 112em;
  }
}
@media screen and (min-width: 600px) {
  .landing {
    --height_about: 50em;
    --height_token: 55em;
    --height_diamond: 35em;
    --height_roadmap: 45em;
    --height_info: 80em;
  }
}
@media screen and (min-width: 768px) {
  .landing {
    --height_about: 45em;
    --height_token: 38em;
    --height_diamond: 40em; 
    --height_roadmap: 46em;
    --height_info: 55em;
  }
}
@media screen and (min-width: 996px) {
  .landing {
    --height_about: 38em; 
    --height_token: 35em;
    --height_diamond: 45em;
    --height_roadmap: 30em;
    --height_info: 55em;
  }
}
@media screen and (min-width: 1200px) {
  .landing {
    --height_about: 38em;
    --height_token: 35em;
    --height_diamond: 45em;
    --height_roadmap: 30em;
    --height_info: 55em;
  }
}
@media screen and (min-width: 1500px) {
  .landing {
    --height_about: 38em;
    --height_token: 35em;
    --height_diamond: 45em;
    --height_roadmap: 30em;
    --height_info: 55em;
  }
}
@media screen and (min-width: 2000px) {
  .landing {
    --height_about: 38em;
    --height_token: 35em;
    --height_diamond: 45em;
    --height_roadmap: 30em;
    --height_info: 50em;
  }
}
.background_wrapper {
  display:block;
  position:absolute;
  height: calc(var(--height_about) + var(--height_token) + var(--height_diamond) + var(--height_roadmap) + var(--height_info));
  width: 100vw;
  overflow: hidden;
}
.section_about, .section_diamond, .section_token, .section_roadmap, .section_info {  
  /* border: 5px slateblue solid; */
  position: relative;
  display: flex;
}
.section_about { 
  /* border: 5px slateblue solid; */
  height: var(--height_about); 
}
.section_diamond { 
  /* border: 5px slateblue solid; */
  height: var(--height_diamond); 
}
.section_token { 
  /* border: 5px slateblue solid; */
  height: var(--height_token); 
}
.section_roadmap { 
  /* border: 5px slateblue solid; */
  height: var(--height_roadmap); 
}
.section_info { 
  /* border: 5px slateblue solid; */
  height: var(--height_info); 
}
.shapes {
  fill: #fff;
  z-index: 0;
  position:absolute;
}
html[data-theme=dark] .shapes {
  fill: #000;
}

.svg_img {
  --svg_fill: black;
  --svg_stroke: white;
  --invert_amount: 0%;
}
html[data-theme=dark] .svg_img {
  --svg_fill: white;
  --svg_stroke: black;
  --invert_amount: 100%;
}




.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}