/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* @dev manages the height of each section, which allows the svg shapes and background animation to scale properly */
@media screen and (max-width: 600px) {
  .landing {
    --height_about: 50em; /** ✅ */
    --height_token: 55em; /** ✅ */
    --height_diamond: 50em;
    --height_roadmap: 42em;
    --height_info: 105em;
  }
}
@media screen and (min-width: 600px) {
  .landing {
    --height_about: 45em; /** ✅ */
    --height_token: 50em; /** ✅ */
    --height_diamond: 30em;
    --height_roadmap: 45em;
    --height_info: 80em;
  }
}
@media screen and (min-width: 768px) {
  .landing {
    --height_about: 42em; /** ✅ */
    --height_token: 38em; /** ✅ */
    --height_diamond: 30em; 
    --height_roadmap: 45em;
    --height_info: 70em;
  }
}
@media screen and (min-width: 1080px) {
  .landing {
    --height_about: 45em; /** ✅ */
    --height_token: 35em; /** ✅ */
    --height_diamond: 30em;
    --height_roadmap: 25em;
    --height_info: 50em;
  }
}
@media screen and (min-width: 1200px) {
  .landing {
    --height_about: 50em; /** ✅ */
    --height_token: 45em; /** ✅ */
    --height_diamond: 30em;
    --height_roadmap: 25em;
    --height_info: 60em;
  }
}
@media screen and (min-width: 1500px) {
  .landing {
    --height_about: 70em; /** ✅ */
    --height_token: 50em;
    --height_diamond: 30em;
    --height_roadmap: 25em;
    --height_info: 80em;
  }
}
@media screen and (min-width: 2000px) {
  .landing {
    --height_about: 80em; /** ✅ */
    --height_token: 60em; /** ✅ */
    --height_diamond: 30em;
    --height_roadmap: 25em;
    --height_info: 100em;
  }
}
.background_wrapper {
  display:block;
  position:absolute;
  height: calc(var(--height_about) + var(--height_token) + var(--height_diamond) + var(--height_roadmap) + var(--height_info));
  width: 100vw;
  overflow: hidden;
}
.section_about { 
  /* border: 5px slateblue solid; */
  height: var(--height_about); 
  position: relative;
  display: flex;
  flex-direction: column;
}
.section_diamond { 
  /* border: 5px slateblue solid; */
  height: var(--height_diamond); 
  position: relative;
  display: flex;
}
.section_token { 
  /* border: 5px slateblue solid; */
  height: var(--height_token); 
  position: relative;
  display: flex;
}
.section_roadmap { 
  /* border: 5px slateblue solid; */
  height: var(--height_roadmap); 
  position: relative;
  display: flex;
}
.section_info { 
  /* border: 5px slateblue solid; */
  height: var(--height_info); 
  position: relative;
  display: flex;
}
.shapes {
  fill: #fff;
  z-index: 0;
  position:absolute;
}
html[data-theme=dark] .shapes {
  fill: #000;
}

.svg_img {
  --svg_fill: black;
  --svg_stroke: white;
  --invert_amount: 0%;
}
html[data-theme=dark] .svg_img {
  --svg_fill: white;
  --svg_stroke: black;
  --invert_amount: 100%;
}




.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}